In [1]:
data = [{"name": "Alice", "age": 28}, {"name": "Bob", "age": 24}, {"name": "Charlie", "age": 30}]
extracted_data = [item for item in data if item['age'] > 25]
print(extracted_data)

[{'name': 'Alice', 'age': 28}, {'name': 'Charlie', 'age': 30}]

In [2]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_matrix = [num for row in matrix for num in row]
print(flattened_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
matrix_3d = [[[1,2,3],[4,5,6]], [[7,8,9],[10,11,12]]]
flattened_3d = [num for plane in matrix_3d for row in plane for num in row]
print(flattened_3d)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [4]:
grades = [88, 92, 78, 65, 50, 94]

for i, grade in enumerate(grades):
    if i == 4:      # 5th item
        grades[i] = grade + 10
    else:
        grades[i] = grade + 5

print(grades)

[93, 97, 83, 70, 60, 99]

In [5]:
data = [100, 200, 300, 400, 500]
even_index_items = [item for i, item in enumerate(data) if i % 2 == 0]
print(even_index_items)

[100, 300, 500]

In [6]:
keys = ['name', 'age', 'grade']
values = ['Alice', 25, 'A']
student_dict = {k: v for k, v in zip(keys, values)}
print(student_dict)

{'name': 'Alice', 'age': 25, 'grade': 'A'}

In [7]:
students = [
    {'name': "John", 'grade': "A", 'age': 20}, 
    {'name': "Jane", 'grade': "B", 'age': 21}, 
    {'name': "Joss", 'grade': "A+", 'age': 19}, 
    {'name': "Jack", 'grade': "A-", 'age': 16}, 
    {'name': "Dave", 'grade': "C", 'age': 25}, 
]

sorted_students = sorted(students, key=lambda student: student['age'])
print(sorted_students)

[{'name': 'Jack', 'grade': 'A-', 'age': 16}, {'name': 'Joss', 'grade': 'A+', 'age': 19}, {'name': 'John', 'grade': 'A', 'age': 20}, {'name': 'Jane', 'grade': 'B', 'age': 21}, {'name': 'Dave', 'grade': 'C', 'age': 25}]

In [8]:
employees = [
    {'name': 'Alice', 'age': 30, 'salary': 80000},
    {'name': 'Bob', 'age': 25, 'salary': 50000},
    {'name': 'Charlie', 'age': 35, 'salary': 120000},
    {'name': 'Charlie', 'age': 35, 'salary': 12000}
]

sorted_employees = sorted(employees, key=lambda emp: (emp['age'], emp['salary']))
print(sorted_employees)

[{'name': 'Bob', 'age': 25, 'salary': 50000}, {'name': 'Alice', 'age': 30, 'salary': 80000}, {'name': 'Charlie', 'age': 35, 'salary': 12000}, {'name': 'Charlie', 'age': 35, 'salary': 120000}]

In [9]:
# Example generator to yield numbers one by one
def simple_generator(n):
    for i in range(n):
        yield i

gen = simple_generator(5)
print(list(gen))  # [0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]